<footer>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h3>Telefono:</h3>
          <p class="fs-4">+52 449-501-3223</p>
        </div>
        <div class="col-sm">
          <h3>Contactanos atraves de nuestras redes sociales</h3>
          <ul class="redes">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Dirección:</h3>
          <p class="fs-4">Jesús Castorena Ramos #208</p>
          <p class="fs-4">Colonia: Solidaridad</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2021 designed by <span>D.K SHOP</span></p>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>